
.header{
    .logo{
        background-image: url('../../img/on-van-logo\ copy.png');
        background-size: 300px;
        background-position: left;
        width: 300px;
        height: 100px;
    }
}